:root {
  --navbar-bg: #01A556;
}

.navbar {
  background: var(--navbar-bg);
  font-family: Arial, sans-serif;
  position: fixed;
  z-index: 1000;
  width: 100vw;
}

.logo {
  flex: 1 1 0%;
}

.logo img {
  max-width: 20rem;
  position: relative;
  top: 0.155rem;
}

.navbar-top {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.navbar-search {
  text-align: center;
  flex: 1 1 0%;
}

.navbar-right {
  flex: 1 1 0%;
  text-align: right;
  color: white;
  margin-right: 1rem;
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  background: #007A36;
  font-size: 1.5rem;
  border-top: 1px solid #01A55633;
}

.navbar-bottom a {
  color: white;
  opacity: 0.89;
  text-decoration: none;
  font-weight: bold;
}

.navbar-bottom a:hover {
  text-decoration: underline;
}

.search_button {
  border:none;
  border-radius:50%;
  background:#01A556;
  color:white;
  height:2.5rem;
  width:2.5rem;
  position:relative;
  bottom:3px;
  left:2px

}

input {
  width: 90%;
  border:none;
  margin-right:1rem;
  margin-left:1rem;
  outline: none;
}

input::placeholder {
  font-size: 1.25rem;
}